* {
    margin: 0px;
    padding: 0px;
}

.Intro {
    margin: 10px;
    padding: 5px;
    background-color: yellow;
    color: red;
}

.Zameen {
    margin: 10px;
    padding: 5px;
    background-color: blue;
    color: white;
}